<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630919033707-8bcb4ijpt487assvu9jau4shf49i3ui4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630919033707-8bcb4ijpt487assvu9jau4shf49i3ui4</string>
	<key>API_KEY</key>
	<string>AIzaSyAqPllJQ5diHmVG0yNiLi0ituwoJn_ccqc</string>
	<key>GCM_SENDER_ID</key>
	<string>630919033707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mstooapp</string>
	<key>PROJECT_ID</key>
	<string>mstoo-192611</string>
	<key>STORAGE_BUCKET</key>
	<string>mstoo-192611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630919033707:ios:40addd463f7a934cea522e</string>
	<key>DATABASE_URL</key>
	<string>https://mstoo-192611.firebaseio.com</string>
</dict>
</plist>